[Unit]
Description=FlexNet Licence Server
Requires=network.target
After=local_fs.target network.target

[Service]
EnvironmentFile=/etc/flexnet.conf
Type=simple
User=flexnet
Group=lmadmin
Restart=always
WorkingDirectory=/usr/SIMULIA/License/2020/linux_a64/code/bin
ExecStart=/usr/SIMULIA/License/2020/linux_a64/code/bin/lmgrd -c ${FLEXLICDIR}/${FLEXLICFILE} -l +${FLEXLOGDIR}/${FLEXLOGFILE} -z -2 -p -local
ExecReload=/usr/SIMULIA/License/2020/linux_a64/code/bin/lmreread -c ${FLEXLICDIR}/${FLEXLICFILE} -all
ExecStop=/usr/SIMULIA/License/2020/linux_a64/code/bin/lmdown -c ${FLEXLICDIR}/${FLEXLICFILE} -q
SuccessExitStatus=15

[Install]
WantedBy=multi-user.target
